@import "mocha.css";
* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: Poppins Bold;
    font-size: 18px;
	font-weight: bold;
	/*color: red;*/
}

window#waybar {
	opacity: 1;
    background-color: @base;
	color: blue;
    border-bottom: none;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}


window#waybar.empty {
    background-color: @base;
	color: purple;
}
window#waybar.solo {
    background-color: @base;
	color: purple;
}


window#waybar.termite {
    background-color: @base;
}

window#waybar.chromium {
    background-color: @base;
    border: none;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: none;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    box-shadow: inset 0 -3px @yellow;
}

#workspaces {
  padding: 0 8px;
  border-radius: 16px 16px 16px 16px;
  background-color: @base;
}

#workspaces button {
    padding: 0 5px;
	color: @text;
	/*background-color: white;*/
}

/*#workspaces button:hover {
	box-shadow: inset 0 -3px @base;
}*/

#workspaces button.active {
	box-shadow: inset 0 -3px @mauve;
	color: @mauve;
}

#workspaces button.urgent {
}

/*
#workspaces button:first-child {
  border-radius: 16px 0px 0px 16px;
  margin-left: 8px;
}
#workspaces button:last-child {
  border-radius: 0px 16px 16px 0px;
}
*/

#mode {
    background-color: @base;
    border-bottom: none;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#mpd {
    padding: 0 10px;
}

#window {
	margin: 0 4px;
	color: @rosewater;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    background-color: @base;
	color: @yellow;
}

#battery {
    background-color: @base;
	color: @green;
}

#battery.charging, #battery.plugged {
    background-color: @base;
}

@keyframes blink {
    to {
        background-color: @base;
    }
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: @base;
}

#cpu {
    background-color: @base;
	color: @mauve;
}

#memory {
    background-color: @base;
	color: @red;
}

#disk {
    background-color: @base;
}

#backlight {
    background-color: @base;
	color: @flamingo;
}

#network {
    background-color: @base;
	color: @sapphire;
}

#network.disconnected {
    background-color: @base;
}

#pulseaudio {
    background-color: @base;
	color: @maroon;
}

#pulseaudio.muted {
    background-color: @base;
}

#wireplumber {
    background-color: @base;
}

#wireplumber.muted {
    background-color: @base;
}

#custom-media {
    background-color: #66cc99;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#temperature {
    background-color: @base;
	color: @teal;
}

#temperature.critical {
    background-color: #eb4d4b;
}

#tray {
    background-color: @base;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#idle_inhibitor {
    background-color: #2d3436;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
}

#mpd {
    background-color: #66cc99;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}

#language {
    background: #00b093;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state {
    background: #97e1ad;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
	background-color: transparent;
}
